.user {
  display: flex;
  align-items: center;
}

.user-img {
  height: 64px;
  width: 64px;

  display: block;

  overflow: hidden;

  border-radius: 50%;
}

.username {
  margin-left: 1em;
  font-size: 1.2em;
}
